<div>
  <h2 class="center-align">Welcome to UniTech</h2>
</div>

<div class="container2">
  

<div class="carousel carousel-slider" style="width:100%">
  <a class="carousel-item" href="#one!"><%= image_tag("univ1.jpg", :alt => "rss feed") %></a>
  <a class="carousel-item" href="#two!"><%= image_tag("univ2.jpg", :alt => "rss feed") %></a>
  <a class="carousel-item" href="#three!"><%= image_tag("univ3.jpg", :alt => "rss feed") %></a>
  <a class="carousel-item" href="#four!"><%= image_tag("univ4.jpg", :alt => "rss feed") %></a>
</div>  

<p> UniTech is a private  research university in Boston, with about 16,700 undergraduate students and about 25,250 post graduate students. Established in 1612, UniTech is the United States' oldest institution of higher learning, and its history, influence, and wealth have made it one of the world's most prestigious universities. </p>