<h1>Course Listing</h1>

<ul>
	<li>Code: CS229</li>
	<li>Name: Machine Learning</li>
	<li>Description: A Machine Learning Course</li>
</ul>

<ul>
	<li>Code: CS121</li>
	<li>Name: Deep Learning</li>
	<li>Description: A Deep Learning Course</li>
</ul>