@import "materialize";

.container1 {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

.container {
  width: 75%;
}

.container1 {
  width: 90%;
}

.container2.container1 {
  width: 100% !important;
  heigth: 50%;
}

.sign-up-form {
  padding-top: 30px;
  width: 50%;
  margin: auto;
}

.container-errors {
  padding-top: 30px;
  width: 65%;
  margin: auto;
}

.top-padding {
  padding-top: 30px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}