<footer class="page-footer">
  <div class="container1">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">UniTech</h5>
        <p class="grey-text text-lighten-4">The eventual fate of advancement.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><%= link_to 'Help', help_path, class:"grey-text text-lighten-3"%></li>
          <li><%= link_to 'About', about_path, class:"grey-text text-lighten-3"%></li>
          <li><%= link_to 'Contact', contact_path, class:"grey-text text-lighten-3"%></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="center-align">
        © 2018 Copyright UniTech
      </div>
    <!-- <a class="grey-text text-lighten-4 right" href="#!">About</a> -->
    </div>
  </div>
</footer>
    